<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
  <uses-permission android:name="android.permission.INTERNET" />
  <application android:label="TuratText" android:icon="@mipmap/app_icon" android:usesCleartextTraffic="true" android:allowBackup="false" />
</manifest>
